" Function as a whitelist
*

!README.md

!themes/
!themes/*
!fonts/
!fonts/*
!nvim/
!nvim/*

!install.sh

!.config
!.i3

!.vimrc
!.scripts/nvim/
!.scripts/nvim/*

!.zshrc
!.zsh/
!.zsh/grml-arch.zsh

!.gdbinit

!.gitignore
!.gitmodules
