" Function as a whitelist
*

!README.md

!themes/
!themes/*

!install.sh

!.config
!.config/*
!.config/alacritty/*
!.config/nitrogen/*
!.config/polybar/*
!.config/nvim/*
!.config/nvim/lua/*
!.i3

!.vimrc
!.scripts/nvim/
!.scripts/nvim/*

!.zshrc
!.zsh/
!.zsh/grml-arch.zsh

!.gdbinit

!.gitignore
!.gitmodules
